<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hamilton</title>
    <link rel="stylesheet" href="/css/Hamilton.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/turing">Turing</a>
                    <a href="/lovelace">Lovelace</a>
                    <a href="/hopper">Hopper</a>
                    <a href="/clarke">Clarke</a>
                    <a href="/berners-lee">Berners-Lee</a>
                    <a href="/babbage">Babbage</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Margaret Hamilton</h1>
        <aside>
            <img src="/img/krieg2.jpg" alt="Fotografía de Hamilton">
        </aside>
        <section>
            <p>
                Margaret Hamilton fue una de las programadoras clave en el desarrollo del software que llevó (y trajo) a los primeros seres humanos a la luna. Es una de las pioneras en el campo de la ingeniería de software y su trabajo sentó las bases del diseño de software ultraconfiable. En apenas dos años pasó de programadora junior a programadora jefe del software de navegación de los cohetes de las misiones Apolo.
            </p>
        </section>
    </section>
</body>
</html>