<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="/css/Alan-Turing.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/lovelace">Lovelace</a>
                    <a href="/hopper">Hopper</a>
                    <a href="/hamilton">Hamilton</a>
                    <a href="/clarke">Clarke</a>
                    <a href="/berners-lee">Berners-Lee</a>
                    <a href="/babbage">Babbage</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Alan Turing</h1>

        <aside>
            <img src="/img/turing.jpg" alt="Fotografía de Alan Turing">
        </aside>
           
        </section>
        <p>
            Su nombre completo era Alan Mathison Turing y nació en Paddington, Londres, el 23 de junio de 1912. Su padre era funcionario británico en India y cuando estaba cercano el nacimiento de Alan, él  y su esposa regresaron a Londres pues querían que su hijo naciera ahí. 
        <p>
            Alan Turing pasó algún tiempo viajando entre India y el Reino Unido pero en 1926 ingresó al internado de Sherborne, donde siguió desarrollando su conocimiento e interés por las ciencias exactas, especialmente las matemáticas y la química. En esta etapa de su vida conoció a Christopher Morcom, su gran amigo y primer amor, que falleció en 1930.
        <p>
            En 1934, se graduó del King’s College de Cambridge y para el año siguiente ya estaba dando clases de lógica, probabilidad y mecánica cuántica en esa misma institución. En 1936 publicó un estudio llamado Los números computables en el que sentó las bases de la informática teórica así como una solución al problema de decisión, que se trata, a grandes rasgos, de encontrar un algoritmo que sea capaz de resolver problemas de forma universal, lo que también dio origen a la Máquina de Turing.
        <p>
            Entonces Turing trabajó en un mecanismo para descifrar a Enigma y le llamó Bombe, que funcionaba a través de cadenas de deducciones lógicas para cada combinación posible. Turing y su equipo le hicieron diversas adecuaciones y perfeccionamientos hasta que lograron que Bombe descifrara a Enigma, lo que devino en que la Segunda Guerra terminara antes y se salvaran millones de vidas.
        <p>
            Para esta misión se construyeron más de 200 Bombes que fueron destruidas con el fin de la guerra pues esto se mantuvo en secreto hasta la década de los 70, que fue también cuando se conoció aún más la trascendencia del genio que ahora nos ocupa. 
        <p>
            De 1943 a 1945 fue consultor jefe de la criptografía anglo-americana y posteriormente comenzó a trabajar en el Laboratorio Nacional de Física, lugar en el que comenzó a trabajar en el Motor de Computación Automática (ACE por sus siglas en inglés) y que fue una de las primeras máquinas que podían hacer cálculos algebraicos, desencriptar códigos y manipular archivar.
        <p>
            En 1948 fue nombrado Director del Laboratorio de Computación de la Universidad de Manchester y creó una de las primeras computadoras reales. Ahí también creó el Test de Turing, que se trata de una prueba para distinguir si una máquina es inteligente o no. Para este test se requieren dos personas y la máquina a probar, una persona es juez y se coloca en una habitación diferente a donde están la otra persona y la máquina, este juez debe saber quien es quien a través de sus respuestas.
        <p>
            En 1951 fue electo como miembro de la Sociedad Real de Londres y comenzó sus estudios sobre biología matemática y morfogénesis que es el proceso que sigue un organismo para tomar su forma. Turing intuía que los patrones de las especies, como cebras o tigres, se debían a dos sustancias químicas que actuaban como inhibidores o activadores para dar esos diseños. Estatua de Turing en Manchester
        <p>
            El siguiente año, Alan Turing fue procesado por homosexualidad, que era ilegal en el Londres de aquella época. El matemático no desmintió las acusaciones pero para no ser llevado a la cárcel, aceptó someterse a un tratamiento hormonal a base de estrógeno que tuvo graves consecuencias en su salud y su estado de ánimo.
        <p>
            Alan Turing murió el 7 de junio de 1954 en Wilmslow, Cheshire. La autopsia reveló que la causa de su muerte fue envenenamiento por cianuro y se apuntó que habría un suicidio sin embargo hay versiones que indican que pudo haber sido incidental.
        </p>
        </section>
        
    </section>
</body>
</html>